<!DOCTYPE html>
<html>
  <head>
    <title>Caffeinated Simpleton &mdash; {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
  </head>
  <body>
    <header>
      <a href="/" class="home">Caffeinated Simpleton</a>
      <nav class="social">
        <a target="_blank" href="https://github.com/JustinTulloss">GitHub</a>
        <a target="_blank" href="https://www.facebook.com/justin.tulloss">Facebook</a>
        <a target="_blank" href="https://twitter.com/justin_tulloss">Twitter</a>
      </nav>
    </header>
    <section class="content">
      <h1>{{ page.title }}</h1>
      <article>{{ content }}</article>
    </section>
  </body>
</html>
